.heading{
    font-size: 23px;
    width: 100%;
    margin: 0;
    box-shadow: 5px 5px 5px grey;
}

.note{
    font-size: 15px;
    color: black;
}

.footer{
    position: fixed;
    color: white;
    bottom:0;
    width: 100%;
    background-color: rgb(9, 159, 209);
    line-height: 3;
    text-align: center;
}

canvas{
    border: 5px solid white;
    border-radius: 20px;
    box-shadow: 5px 5px 5px grey;
}